<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controladorUsuario</servlet-name>
        <servlet-class>controladores.controladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorModoTitulacion</servlet-name>
        <servlet-class>controladores.controladorModoTitulacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserControl</servlet-name>
        <servlet-class>controladores.UserControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>controladores.prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequerimientoControl</servlet-name>
        <servlet-class>controladores.requerimientoControlCP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cAreaUser</servlet-name>
        <servlet-class>clases.cAreaUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controladorUsuario</servlet-name>
        <url-pattern>/controladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorModoTitulacion</servlet-name>
        <url-pattern>/controladorModoTitulacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserControl</servlet-name>
        <url-pattern>/UserControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prueba</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequerimientoControl</servlet-name>
        <url-pattern>/RequerimientoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cAreaUser</servlet-name>
        <url-pattern>/cAreaUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
