/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-dic-2017, 11:42:45
    Author     : Jorge
*/
//HEADER
$colorHeader:#34495e;
$heightContentHeader:4em;
$heightHeader:1.15em;
$colorFontHeader:#FFF;
$colorLineHeader:#009640;
$contentFontColor:#000;
//MENU
$colorMenu:rgba(0, 0, 0, 0.85);
//FOOTER
$heightFooter:2.6em;
$colorFooter:#E6E6E6;
$buttonColor:#BDBDBD;
$modalColor:rgba(1,1,1,0.4);
//TOOLS
 $reset:0em;
 $typeFont:Verdana;
 $contentPadding:2em;