<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gico.com.sistemagico">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:name=".generalGICO"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantallaInicio"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pantallaLogin"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".cliente.actualizarCliente"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_actualizar_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cliente.creditoCliente"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_credito_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cliente.historialCliente"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_historial_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".producto.devolucionProducto"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_devolucion_producto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".producto.regresoBodegaPrincipal"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_regreso_bodega_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bodega.asignarBodega"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_asignar_bodega"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ventas.clienteVentas"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_cliente_ventas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ventas.productoVentas"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_producto_ventas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ventas.listadoProductosPedido"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_listado_productos_pedido"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ventas.pagoVentas"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_pago_ventas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cliente.reciboAbonoCliente"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_recibo_abono_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".producto.reciboDevolucionProducto"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_recibo_devolucion_producto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ventas.reciboVenta"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_recibo_venta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ventas.impresionVenta"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_impresion_venta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cliente.impresionAbono"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_impresion_abono"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".producto.impresionDevolucion"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_impresion_devolucion"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>